<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Chatbot</title>
  <link rel="stylesheet" href="/stylesheets/chatbot.css">
</head>
<body>

  <div id="chatbot-button">
    💬
  </div>

  <div id="chatbot-popup">
    <div class="chat-header">
      <span>Fortis</span>
      <button id="close-chat">×</button>
    </div>
    <div class="chat-body">
      <div class="bot-message">
        👋 Hi! I am Your Fortis appointment booking bot.<br>
        <small>By continuing, you agree to Fortis <a href="#">T&C</a></small>
        <br><br>
        How may I help you today?
      </div>
      <div class="chat-options">
        <div id="divv">
            <input type="text" id="inputt" placeholder="Ask your doubts .... ">
            <button type="submit" id="bbtn">Send</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/Javascripts/script2.js"></script>
</body>
</html>
