<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/successfull.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>successfull submition</title>
</head>
<body>
    <main>
        <div class="success-container">
            <div class="success-img"></div>
            <h2>Thank you for your submission</h2>
            <p>We are received your form successfully</p>
        </div>
    </main>
</body>
</html>


