*{
    margin: 0;
    padding:0;
}

main{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.success-container{
    width: 45%;
    height: 70%;
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px 0 rgba(96, 212, 185, 0.629);
    gap: 5%;
    font-family: 'Poppins', sans-serif;
}

.success-img{
    height: 100px;
    width: 100px;
    background-color: green;
    background-image: url('https://cdn2.iconfinder.com/data/icons/greenline/512/check-512.png');
    background-size: cover;
    border-radius: 50%;
}

.success-container h2{
    font-size: 30px;
}